<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Modificar Usuario</title>
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <% if (usuario) { %>
        <div class="container">
            <h1>Modificar contrasena Usuario</h1>
            <hr>
            <form action="/passwordUsuario" method="post" class="form-control" style="width: 500px; height: 400px">
                <input id="usuario" name="usuario" value="<%= usuario%>" hidden>
                NOMBRE:
                <h4><%= usuario%></h4>
                Nueva Contraseña:
                <input type="text" name="passwordUsuario" class="form-control"/>
                <br>
                <input type="submit" value="Guardar" class="btn btn-primary btn-lg"/>
                
                <a href="/administrador/usuarios">Regresar</a>
            </form>
        </div>
        <% } %>
    </body>
</html>