<h1>Muestras Disponibles</h1>
<table class="table table-bordered">
        <thead>
            <tr>
                <th class="text-center">ID Muestra</th>
                <th class="text-center">Muestra</th>
                <th class="text-center">Examen</th>
                <th class="text-center">ID reporte</th>
                <th class="text-center">Opciones</th>
            </tr>
        </thead> 
        <tbody>
            <tr>
                <th scope="row"></th>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center">   
                    <a href="" class="btn btn-primary">Modificar</a>
                    <a href="" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
    </tbody>            
</table>
<script>
    console.log('Necesita logiarse, Necesita tener examenes');
</script>