<div class="navi">
    <ul>
         <!-- Funcionar para agregar mas conteiner a cada opcion del laboratorio -->
         <li <% if (opcion < 2 || opcion > 4 || opcion == null) { %> class="active" <% } %> >
        <a href="/laboratorista?opcion=1"><i class="fa fa-home" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Examenes Pendientes</span></a></li>
        
        <li <% if (opcion == 4) { %> class="active" <% } %> >
        <a href="/laboratorista?opcion=4"><i class="fa fa-user" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Examenes Hechos</span></a></li>
    
        <li <% if (opcion == 2) { %> class="active" <% } %> >
        <a href="/laboratorista?opcion=2"><i class="fa fa-tasks" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Muestras Disponibles</span></a></li>
 
        <li <% if (opcion == 3) { %> class="active" <% } %> >
        <a href="/laboratorista?opcion=3"><i class="fa fa-bar-chart" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Ingresar Reporte</span></a></li>
        
    </ul>
</div>